.red {
    color: red;
}
.red-bg {
    background-color: red;
    color:#fff;
}
.green {
    color: green;
}
.green-bg {
    background-color: green;
    color: #ffffff;
}
.blue {
    color: blue;
}
.brown {
    color: brown;
}
.strikethrough {
    text-decoration: line-through;
}
.show {
    display: block;
}
.hide {
    display: none;
}
.card {
    width: 100%;
    padding: 0rem 0.9rem;
}
.card-header span span.fa {
    color: #666;
}
.card-header span span.fa.filled {
    color: #ffa500;
}
.header h4{
    padding-top: 10px;
}
.more,.close {
    cursor: pointer;
    color: #666;
}
.more:hover,
.close:hover {
    color: #212529;
}
table tr td strong{
    text-transform: capitalize;
}
.vertical-menu {
    position: absolute;
    right: 0;
    width: auto;
    top: 30px;
    font-size: 16px;
    color: #666;
}

.vertical-menu li {
    background-color: #606060;
    color: #fff; 
    display: block; 
    padding: 5px 10px; 
    text-decoration: none; 
    cursor: pointer;
}

.vertical-menu li:hover {
    background-color: #ccc;
    color: #212529;
}
.addtocart,.removefromcart {
    cursor: pointer;
    font-size: 28px;
    float: right;
    color: #666;
    transition: .2s linear;
}
.addtocart:hover,
.addtocart.active,
.removefromcart:hover,
.removefromcart.active {
    font-size: 32px;
    color: #212529;
}
.fa-shopping-cart,
.fa-plus-square, 
.fa-minus-square {
    font-size: 38px;
    padding-top: 5px;
    color: #666;
    cursor: pointer;
}
.header sup,
.addtocart sup,
.removefromcart sup {
    top: 5px;
    position: absolute;
    transition: .2s linear;
    font-size: 12px;
}
p.addedCount {
    width: 40px;
    display: block;
    float: right;
    font-size: 26px;
    padding: 4px 0px;
    text-align: center;
}