.red {
    color: red;
}
.red-bg {
    background-color: red;
    color:#fff;
}
.green {
    color: green;
}
.green-bg {
    background-color: green;
    color: #ffffff;
}
.blue {
    color: blue;
}
.brown {
    color: brown;
}
.strikethrough {
    text-decoration: line-through;
}
.show {
    display: block;
}
.hide {
    display: none;
}
.card {
    width: 100%;
    padding: 0rem 0.9rem;
}
.card-header span span.fa {
    color: #666;
}
.card-header span span.fa.filled {
    color: #ffa500;
}
.more,.close {
    cursor: pointer;
    color: #666;
}
.more:hover,
.close:hover {
    color: #212529;
}
.vertical-menu {
    position: absolute;
    right: 0;
    width: auto;
    top: 30px;
    font-size: 16px;
    color: #666;
}

.vertical-menu li {
    background-color: #606060;
    color: #fff; 
    display: block; 
    padding: 5px 10px; 
    text-decoration: none; 
    cursor: pointer;
}

.vertical-menu li:hover {
    background-color: #ccc;
    color: #212529;
}